#regular-button {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background: #54D154;
    color: white;
    font-weight: bold;
    border: none;
}
      
#regular-button img{
    width: 12px;
    height: 12px;
}