/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: white;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    
}

body 
{ 
    position: absolute; 
    margin: 0;
    width:100%;
}

.proxima-reg {
    font-family: 'Proxima Nova Regular';
}

.proxima-bold {
    font-family: 'Proxima Nova Bold';
}

.proxima-light {
    font-family: 'Proxima Nova Light';
}

/* Fonts */

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('./fonts/ProximaNova-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('./fonts/ProximaNova-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('./fonts/ProximaNova-Light.otf') format('otf');
}