/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: white;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    
}

body 
{ 
    position: absolute; 
    margin: 0;
    width:100%;
}

/* Fonts */

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova-Regular') format('otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('ProximaNova-Bold') format('otf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('ProximaNova-Light') format('otf');
}